<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FileMan</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        .treeview .list-group {
            padding-left: 0;
            margin-bottom: 0px;
        }

        .treeview .list-group-item {
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 0px;
        }

            .treeview .list-group-item:first-child {
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
            }

            .treeview .list-group-item:last-child {
                margin-bottom: 0;
                border-bottom-right-radius: 0px;
                border-bottom-left-radius: 0px;
            }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FileMan", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">

        @RenderBody()    


        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FileMan</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/bootstrap-treeview.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            var folNa = "@Url.RequestContext.RouteData.Values["controller"]";
            var folId = "@Url.RequestContext.RouteData.Values["id"]";
            var id = folId == "" || folNa != "Home" ? -1 : Number(folId);
            var url = "/Home/GetTree?id="+id;
            $.get(url,
                function (data) {
                    $('#tree').treeview(
                        {
                            data: data,
                            enableLinks: true,
                            showTags: true,
                            showBorder: false,
                            expandIcon: "glyphicon glyphicon-triangle-right",
                            collapseIcon: "glyphicon glyphicon-triangle-bottom",
                        }
                    );
                    //return data;
                })
        });

        function collapseAll() {
            $('#tree').treeview('collapseAll', { silent: true });
        }

        function expandAll() {
            $('#tree').treeview('expandAll', { silent: true });
        }
    </script>
</body>
</html>
