<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FileMan</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/styling.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="~/Content/loaders.css" rel="stylesheet" />
</head>
<body class="modal-open">
    <div id="hideAll"></div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FileMan", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div id="loadingDiv">
            <div id="load-container">
                <h3>Loading FileMan...</h3>
                <div class="icon-holder">
                    <i class="fas fa-folder"></i>
                    <i class="fas fa-microchip"></i>
                    <i class="fas fa-copy"></i>
                    <i class="fas fa-cogs"></i>
                    <i class="fas fa-book-open"></i>
                    <i class="fas fa-archive"></i>
                    <i class="fas fa-tasks"></i>
                    <i class="fas fa-share-alt"></i>
                    <i class="fas fa-file"></i>
                    <i class="fas fa-film"></i>
                </div>
            </div>
        </div>
        <div id="workingDiv">
            <div id="work-container">
                <b>working...</b>
                <div class="icon-holder">
                    <i class="fas fa-cog fa-2x pos-1"></i>
                    <i class="fas fa-cog fa-lg pos-2"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="cus-h4">
                                Categories
                            </h4>
                            <span class="float-r mr"><a href="javascript:expandAll();"><i class="fas fa-angle-double-down"></i></a></span>
                            <span class="float-r mr"><a href="javascript:collapseAll();"><i class="fas fa-angle-double-up"></i></a></span>
                        </div>
                        <div class="panel-tree">
                            <input type="text" id="jstree_div_q" placeholder="search..." class="in-card-search" />
                            <div id="jstree_div"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 sub-container">
                @RenderBody()
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FileMan</p>
        </footer>
    </div>

        @Scripts.Render("~/bundles/bootstrap")
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
        <script src="~/Scripts/fmFunctions.js"></script>
        <script src="~/Scripts/fmListeners.js"></script>

    <script>
        $(document)
            .ready(function () {

                var folNa = "@Url.RequestContext.RouteData.Values["controller"]";
                var folId = "@Url.RequestContext.RouteData.Values["id"]";
                var id = folId == "" || folNa != "Home" ? -1 : Number(folId);
                var url = "/Home/GetTree?id=" + id;
                $.get(url,
                    function (data) {
                        $('#jstree_div').jstree({
                            "plugins": ["search", "dnd", "sort"],
                            'core': {
                                'check_callback': true,
                                'data': data
                            }
                        });
                        //return data;
                        var my_timer = setTimeout(function () {
                            $('#loadingDiv').hide();
                            $('#hideAll').delay(100).fadeOut(100);
                            $('body').removeClass('modal-open');
                        }, 1000);
                    }
                )

            })
            .ajaxStart(function () {
                $('#workingDiv').show();
            })
            .ajaxStop(function () {
                $('#workingDiv').hide();
            });
    </script>
        @RenderSection("scripts", required: false)

</body>
</html>
