<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FileMan</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/styling.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

    <style>
        .treeview .list-group {
            padding-left: 0;
            margin-bottom: 0px;
        }

        .treeview .list-group-item {
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 0px;
        }

            .treeview .list-group-item:first-child {
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
            }

            .treeview .list-group-item:last-child {
                margin-bottom: 0;
                border-bottom-right-radius: 0px;
                border-bottom-left-radius: 0px;
            }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FileMan", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div id="loadingDiv">
            <img src="~/Content/Images/spinner.gif" />
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Categories
                            <span class="float-r pl"><a href="javascript:expandAll();"><i class="fas fa-angle-double-down"></i></a></span>
                            <span class="float-r pl"><a href="javascript:collapseAll();"><i class="fas fa-angle-double-up"></i></a></span>
                        </div>
                        <div class="panel-tree">
                            <input type="text" id="jstree_div_q" placeholder="search..." class="in-card-search" />
                            <div id="jstree_div"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 sub-container">
                @RenderBody()
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FileMan</p>
        </footer>
    </div>

        @Scripts.Render("~/bundles/bootstrap")
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
        <script src="~/Scripts/fmFunctions.js"></script>

        <script>
            $(document)
                .ready(function () {

                    var folNa = "@Url.RequestContext.RouteData.Values["controller"]";
                    var folId = "@Url.RequestContext.RouteData.Values["id"]";
                    var id = folId == "" || folNa != "Home" ? -1 : Number(folId);
                    var url = "/Home/GetTree?id=" + id;
                    $.get(url,
                        function (data) {
                            $('#jstree_div').jstree({
                                "plugins": ["search" , "dnd"],
                                'core': {
                                    'check_callback': true,
                                    'data': data
                                }
                            });
                            //return data;
                            $('#loadingDiv').hide();
                        }
                    )

                //})
                //.ajaxStart(function () {
                //    $('#loadingDiv').show();
                //})
                //.ajaxStop(function () {
                //    $('#loadingDiv').hide();
                });

            $(function () {
                $('#jstree_div').bind("select_node.jstree", function (e, data) {
                    $('#jstree_div').jstree('save_state');
                });

                $('#jstree_div').on("activate_node.jstree", function (e, data) {
                    //window.location.href = data.node.a_attr.href;

                    var link = data.node.a_attr.href;
                    $.ajax({
                        type: "get",
                        url: link,
                        success: function (d) {
                            /* d is the HTML of the returned response */
                            $('.sub-container').html(d); //replaces previous HTML with action

                            ChangeUrl("Index", link);
                        }
                    });
                })

                var to = false;
                $('#jstree_div_q').keyup(function () {
                    if (to) { clearTimeout(to); }
                    to = setTimeout(function () {
                        var v = $('#jstree_div_q').val();
                        $('#jstree_div').jstree(true).search(v);
                    }, 250);
                });
            });

                
        </script>

        @RenderSection("scripts", required: false)

</body>
</html>
