@model Raf.FileMan.Models.ViewModels.MasterFileViewModel

<style>
    .row {
        padding-top: 15px;
    }

    .col-md-3, .col-md-9 {
        padding: 0px;
    }

    .icon {
        max-width: 16px;
        max-height: 16px;
    }

    #moveTable {
        display: block;
        min-height: 300px;
        max-height: 300px;
        overflow-y: scroll;
    }

        #headTable, #moveTable tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }

    #cats {
        white-space: nowrap;
        overflow: hidden;
        /* "overflow" value must be different from "visible" */
        text-overflow: ellipsis;
        width: 100%;
        direction: rtl;
        text-align: left;
    }
</style>
<div class="col-md-12">
    <ol class="breadcrumbz">
        @*<li class="js-link disp-align-ver" onclick="goToFolder(@Model.RedirectId)"><i class="fas fa-angle-left"></i>&emsp13;<span> back to <b>@Model.RedirectLabel</b></span></li>*@
        <li class="js-link disp-align-ver" onclick="@Model.RedirectFun"><i class="fas fa-angle-left"></i>&emsp13;<span> back to <b>@Model.RedirectLabel</b></span></li>
    </ol>
</div>

<div class="col-md-12">
    <div class="panel panel-success">
        <div class="panel-heading panel-title">
            <div class="container" style="align-items:center; width:100%; padding:0px;">
                <h4 class="cus-h4">
                    <b>@Model.Current.Number</b> - @(string.IsNullOrEmpty(Model.DraftVersion) ? Model.Current.Issue.ToString() : Model.DraftVersion) - @Model.Current.Name
                </h4>
                <div class="dropdown pull-right">
                    <span>
                        @if (Model.Favourite)
                        {
                            <i class="fas fa-star btn-fav cur-point" title="Remove from favourites" onclick="delFavourite(@Model.Current.Id, @Model.FavId)"></i>
                        }
                        else
                        {
                            <i class="far fa-star btn-fav cur-point" title="Add to favourites" onclick="addFavourite(@Model.Current.Id, 1)"></i>
                        }
                    </span>
                    <span>
                        @if (Model.Locked)
                        {
                            <i class="fas fa-lock lock-lg" title="Locked by @Model.LockedBy"></i>
                        }
                        else
                        {
                            <i class="fas fa-lock-open lock-lg" title="Document unlocked"></i>
                        }
                    </span>
                    <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown" alt="Tools">
                        <i class="fas fa-cog"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><span data-toggle="modal" data-target="#shareModal" class="nor">Share</span></li>
                        @if (Model.Lockable)
                        {
                            <li><span data-toggle="modal" data-target="#movModal" class="nor">Move</span></li>
                            <li><span data-toggle="modal" data-target="#revModal" class="nor">Add draft</span></li>
                            if (Model.Promote)
                            {
                                <li><span data-toggle="modal" data-target="#promModal" class="nor">Promote</span></li>
                            }
                            else
                            {
                                <li><span class="dis">Promote</span></li>
                            }
                            <li role="separator" class="divider"></li>
                            <li>
                                <span onclick="goToEditFile(@Model.Current.Id, @Model.RedirectId)" class="nor">Edit Document</span>
                            </li>
                            <li>
                                <span data-toggle="modal" data-target="#editRevModal" class="nor">Edit Rev. comment</span>
                            </li>
                            <li role="separator" class="divider"></li>
                            if (Model.Locked)
                            {
                                <li>
                                    <span onclick="lockDocument(@Model.Current.Id, false, @Model.RedirectId)" class="nor">Unlock</span>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <span onclick="lockDocument(@Model.Current.Id, true, @Model.RedirectId)" class="nor">Lock</span>
                                </li>
                            }
                            if (Model.Current.Folders != null && Model.Current.Folders.Count() != 0)
                            {
                                <li>
                                    <span func="uncategorise(@Model.Current.Id, @Model.RedirectId)" class="del" id="delSpan" onmouseover="mouseEnterHandler(this)" onmouseout="mouseLeaveHandler(this)">Uncategorise</span>
                                </li>
                            }
                        }
                        else
                        {
                            <li><span class="dis" title="Locked by @Model.LockedBy">Unlock</span></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td class="td-head" align="right">Description</td>
                    <td class="td-value"><span style="white-space: pre-line"><p class="comment">@Model.Current.Description</p></span> </td>
                </tr>
                <tr>
                    <td class="td-head" align="right">Extra info</td>
                    <td class="td-value"><span style="white-space: pre-line">@Model.Current.Comment</span> </td>
                </tr>
                <tr>
                    <td class="td-head" align="right">Author</td>
                    <td class="td-value"><span style="white-space: pre-line">@Model.Author</span> </td>
                </tr>
                <tr>
                    <td class="td-head" align="right">Categories</td>
                    <td class="td-value">
                        <div id="cats" style="max-height:150px; white-space:nowrap; overflow-y:auto;">
                            @if (@Model.Current.Folders != null || @Model.Current.Folders.Count() > 0)
                            {
                                foreach (var fol in Model.Current.Folders)
                                {
                                    string folName = fol.IsRoot ? fol.Name : fol.Path;
                                    <span class="js-link" onclick="goToFolder(@fol.Id)">@folName.Replace("\\", " > ")</span><br />
                                }
                            }
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-head" align="right">Created</td>
                    <td class="td-value"> @Html.DisplayFor(model => model.Current.Added)</td>
                </tr>
                <tr>
                    <td class="td-head" align="right">Edited</td>
                    <td class="td-value">@Html.DisplayFor(model => model.Current.Edited)</td>
                </tr>

                @if (Model.RevisionsCount > 0)
                {
                    if (@Model.LatestIssue != null)
                    {
                        <tr>
                            <td class="td-head" align="right">Issue</td>
                            <td class="td-value">
                                <p>
                                    <span style="float:left; width:100px;"><b>Ver: </b> @Model.LatestIssue.Draft</span>
                                    <span style="float:left; width:200px;"><b>Added: </b> @Model.LatestIssue.Added</span>
                                    <span style="float:right; width:60px;"><b>@Html.ActionLink("download", "GetFile", "FileRevisions", new { id = Model.LatestIssue.Id }, null)</b></span>
                                    <span style="float:right; width:60px;"><b>@Html.ActionLink("view", "Details", "FileRevisions", new { id = Model.LatestIssue.Id }, null)</b></span>
                                </p>
                                <br />
                                <p class="comment">@Model.LatestIssue.Comment</p>
                            </td>

                        </tr>
                    }
                    if (@Model.LatestDraft != null)
                    {
                        <tr>
                            <td class="td-head" align="right">Draft</td>
                            <td class="td-value">
                                <p>
                                    <span style="float:left; width:100px;"><b>Ver: </b> @Model.LatestDraft.Draft</span>
                                    <span style="float:left; width:200px;"><b>Added: </b> @Model.LatestDraft.Added</span>
                                    <span style="float:right; width:60px;"><b>@Html.ActionLink("download", "GetFile", "FileRevisions", new { id = Model.LatestDraft.Id }, null)</b></span>
                                    <span style="float:right; width:60px;"><b>@Html.ActionLink("view", "Details", "FileRevisions", new { id = Model.LatestDraft.Id }, null)</b></span>
                                </p>
                                <br />
                                <p class="comment">@Model.LatestDraft.Comment</p>
                            </td>

                        </tr>
                    }

                }
                @if (Model.ShowChangelog)
                {
                    <tr>
                        <td class="td-head" align="right">Changelog</td>
                        <td class="td-value"><span class="comment" style="white-space: pre-line">@Model.Current.Changelog</span> </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
    @if (Model.RevisionsCount > 0)
    {
        <div class="panel-group">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h4 class="cus-h4">
                        <a data-toggle="collapse" href="#collapse1">All revisions</a>
                    </h4>
                    <span class="badge badge-light">@Model.RevisionsCount</span>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    @if (Model.RevisionsCount > 0)
                    {
                        using (Html.BeginForm("FileAction", "FileRevisions", FormMethod.Post, new { style = "padding-left: 0px;" }))
                        {
                            <table class="table table-striped table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th style="font-weight:900; width:15px;" align="right"></th>
                                        <th style="font-weight:900; width:35px;" align="right">Rev</th>
                                        <th style="font-weight:900; width:60px;" align="right">Type</th>
                                        <th style="font-weight:900; width:250px;" align="right">Comment</th>
                                        <th style="font-weight:900; width:130px;" align="right">Added</th>
                                        <th style="font-weight:900; width:25px;" align="right"></th>
                                        <th style="font-weight:900; width:15px;" align="right"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int counter = 0;}
                                    @foreach (var rev in Model.Current.Revisions.OrderByDescending(a => a.Revision))
                                    {
                                    <tr>
                                        <td scope="row"><img class="icon" src="~/Content/Images/Icons/32px/@rev.Icon" /></td>
                                        <td>
                                            @if (string.IsNullOrEmpty(rev.Draft))
                                            {
                                                <span class="label label-success">issue</span>
                                            }
                                            else
                                            {
                                                @rev.Draft
                                            }
                                        </td>
                                        @if (@rev.Type.Equals("issue"))
                                        {
                                            <td><span class="label label-success">Issue</span></td>
                                        }
                                        else
                                        {
                                            <td><span class="label label-warning">Draft</span></td>
                                        }
                                        <td><p class="comment">@rev.Comment</p></td>
                                        <td>@rev.Added</td>
                                        <td>@Html.ActionLink("download", "GetFile", "FileRevisions", new { id = rev.Id }, null)</td>
                                        <td>@Html.ActionLink("view", "Details", "FileRevisions", new { id = rev.Id }, null)</td>
                                    </tr>
                                        counter++;
                                    }
                                </tbody>
                            </table>
                        }
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <p><i class="fas fa-exclamation-triangle"></i>There are no revisions for this document yet.</p>
    }
</div>


<!-- File Modal -->
<div id="movModal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">

        @using (Html.BeginForm("MoveFile", "MasterFiles", FormMethod.Post, new { enctype = "multipart/form-data", id = "moveFileForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header">
                    <h4>
                        Assign category
                    </h4>
                </div>
                <div class="modal-body" style="max-height:500px; white-space:nowrap; overflow:auto;">
                    @{
                        var counter = 0;
                    }
                    <input class="form-control" id="searchBox" onkeyup="searchMove(this)" type="text" placeholder="Search directories.." style="width:100%;" /> <br />
                    <table style="width:100%">
                        <thead id="headTable">
                            <tr>
                                <th style="width:20px;"></th>
                                <th style="width:150px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">Name</th>
                                <th>Path</th>
                            </tr>
                        </thead>
                        <tbody id="moveTable">
                            @foreach (var p in Model.FolderList)
                            {
                                <tr>
                                    @{
                                        var chckd = Model.Current.Folders.Select(a => a.Id).Contains(p.Id) ? "checked" : "";
                                    }
                                    <td style="width:20px;"><input type="checkbox" name="folders" value=@p.Id @chckd /> </td>
                                    <td style="width:150px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">@p.Name</td>
                                    <td>@p.Path</td>
                                </tr>
                                counter++;
                            }
                        </tbody>
                    </table>

                    <input type="hidden" name="Id" value=@Model.Current.Id />
                    <input type="hidden" name="pid" value=@Model.RedirectId />
                </div>
                <div class="modal-footer">
                    @if (Model.Current.Folders == null || Model.Current.Folders.Count() == 0)
                    {
                        <button type="button" class="btn btn-danger" style="float:left;" disabled>Uncategorise</button>
                    }
                    else
                    {
                        <button type="button" style="float:left;" name="action" value="cp" class="btn btn-danger" onclick="uncategorise(@Model.Current.Id, @Model.RedirectId)">Uncategorise</button>
                    }
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" name="action" value="cp" class="btn btn-primary" onclick="moveDocument('#moveFileForm')">Save</button>
                </div>
            </div>
        }
    </div>
</div>

<!-- File Modal -->
<div id="revModal" class="modal fade" role="dialog">
    <div class="modal-dialog  modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            @using (Html.BeginForm("Create", "FileRevisions", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", id = "revFileForm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h4>New draft</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="float:none">
                        <input type="hidden" class="form-control" id="MasterFileId" name="MasterFileId" value="@Model.Current.Id" />
                        <input type="hidden" class="form-control" id="Revision" name="Revision" value="@(Model.LatestRevision+1)" />
                        <input type="hidden" class="form-control" id="Name" name="Name" value="@Model.RevisionName" />
                        <input type="hidden" id="pid" name="pid" value=@Model.RedirectId />
                        <div class="form-group">
                            <input style="margin-bottom: 10px;" class="form-control" type="file" name="file" id="revFileUpl" required>
                        </div>
                        <div class="form-group">
                            <textarea rows="3" cols="10" class="form-control" name="Comment" placeholder="Comment..."></textarea>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" value="Save" class="btn btn-success" id="submitBtn" onclick="addDraft('#revFileForm')">Save</button>
                </div>
            }
        </div>
    </div>
</div>

<!-- File Modal -->
<div id="promModal" class="modal fade" role="dialog">
    <div class="modal-dialog  modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            @using (Html.BeginForm("Promote", "MasterFiles", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", id = "promFileForm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h4>Promote</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="float:none">
                        <input type="hidden" class="form-control" name="id" value="@Model.Current.Id" />
                        <input type="hidden" class="form-control" name="pid" value="@Model.RedirectId" />
                        <div class="form-group">
                            <textarea rows="3" cols="10" class="form-control" name="Comment" placeholder="Extra info..."></textarea>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" name="action" value="cp" class="btn btn-primary" onclick="promote('#promFileForm')">Save</button>
                </div>
            }
        </div>
    </div>
</div>

<!-- Share Modal -->
<div id="shareModal" class="modal fade" role="dialog">
    <div class="modal-dialog  modal-sm">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <h4><i class="fas fa-share-alt"></i> Share</h4>
            </div>
            <div class="modal-body">
                <p>Direct shareable link:</p>
                <div class="input-group">
                    <input type="text"
                           class="form-control cp-link"
                           id="shareMe"
                           value="@(HttpContext.Current.Request.Url.Host)/share/@Model.Current.Number"
                           readonly>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fas fa-clipboard" onclick="copyToClip(shareMe)" title="Click to copy link"></i></button>
                    </span>
                </div><!-- /input-group -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Revision Modal -->
<div id="editRevModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("EditDraftComment", "MasterFiles", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", id = "editRevForm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h4>Revision: @Model.DraftVersion</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="float:none">
                        <input type="hidden" class="form-control" name="fid" value="@Model.Current.Id" />
                        <input type="hidden" class="form-control" name="pid" value="@Model.RedirectId" />
                        <input type="hidden" class="form-control" name="id" value="@Model.LatestRevisionId" />
                        <p>Edit comment for the latest revision:</p>
                        <div class="form-group">
                            <textarea style="max-width:100% !important;" rows="3" cols="10" class="form-control" name="comment" placeholder="Revision comment...">@Model.LatestRevisionComm</textarea>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" name="action" value="cp" class="btn btn-success" onclick="editDraft('#editRevForm')">Save</button>
                </div>
            }
        </div>
    </div>
</div>