@model FileMan.Models.ViewModels.MasterFileViewModel
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@{
    ViewBag.Title = "File";
}

<style>
    .row {
        padding-top: 15px;
    }

    .col-md-3, .col-md-9 {
        padding: 0px;
    }

    .icon {
        max-width: 16px;
        max-height: 16px;
    }
</style>

<div class="col-md-12">
    <ol class="breadcrumb" style="margin-bottom:10px;">
        @if (@Model.Breadcrumbs != null || @Model.Breadcrumbs.Count() > 0)
        {
            for (int i = @Model.Breadcrumbs.Count() - 1; i >= 0; i--)
            {
                <li>@Html.ActionLink(Model.Breadcrumbs.ElementAt(i).Name, "Index", "Home", new { id = Model.Breadcrumbs.ElementAt(i).Id }, new { title = "Parent" })</li>
            }
        }
        <li class="active">@Model.Current.Name</li>
    </ol>
</div>

<div class="col-md-8">
    <div class="input-group" style="margin-bottom:10px;">
        <span class="input-group-addon" id="sizing-addon1">Actions</span>
        <span class="input-group-btn" style="float:left">
            <button class="btn btn-default" type="button">Add files</button>
            <button class="btn btn-default" type="button">Edit</button>
            <button class="btn btn-default" type="button">Delete</button>
        </span>
    </div>
</div>
<div class="col-md-12">
    <div class="panel panel-success">
        <div class="panel-heading"><strong>Details</strong></div>
            <table class="table table-striped table-hover table-condensed">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td style="font-weight:900; width:100px;" align="right">Number</td>
                        <td> @Html.DisplayFor(model => model.Current.Number)</td>
                    </tr>
                    <tr>
                        <td style="font-weight:900; width:100px;" align="right">Name</td>
                        <td> @Html.DisplayFor(model => model.Current.Name)</td>
                    </tr>
                    <tr>
                        <td style="font-weight:900; width:100px;" align="right">Path</td>
                        <td> @Html.DisplayFor(model => model.Current.Path)</td>
                    </tr>
                    <tr>
                        <td style="font-weight:900; width:100px;" align="right">Extension</td>
                        <td> @Html.DisplayFor(model => model.Current.Extension)</td>
                    </tr>
                    <tr>
                        <td style="font-weight:900; width:100px;" align="right">Description</td>
                        <td><span style="white-space: pre-line">@Model.Current.Description</span> </td>
                    </tr>
                    <tr>
                        <td style="font-weight:900; width:100px;" align="right">Comment</td>
                        <td><span style="white-space: pre-line">@Model.Current.Comment</span> </td>
                    </tr>
                    <tr>
                        <td style="font-weight:900; width:100px;" align="right">Changelog</td>
                        <td><span style="white-space: pre-line">@Model.Current.Changelog</span> </td>
                    </tr>
                    <tr>
                        <td style="font-weight:900; width:100px;" align="right">Added</td>
                        <td> @Html.DisplayFor(model => model.Current.Added)</td>
                    </tr>
                    <tr>
                        <td style="font-weight:900; width:100px;" align="right">Edited</td>
                        <td> @Html.DisplayFor(model => model.Current.Edited)</td>
                    </tr>
                </tbody>
            </table>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Files</div>
        <table class="table table-striped table-hover table-condensed">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td style="font-weight:900; width:100px;" align="right">Number</td>
                    <td> @Html.DisplayFor(model => model.Current.Number)</td>
                </tr>
                <tr>
                    <td style="font-weight:900; width:100px;" align="right">Name</td>
                    <td> @Html.DisplayFor(model => model.Current.Name)</td>
                </tr>
                <tr>
                    <td style="font-weight:900; width:100px;" align="right">Path</td>
                    <td> @Html.DisplayFor(model => model.Current.Path)</td>
                </tr>
                <tr>
                    <td style="font-weight:900; width:100px;" align="right">Extension</td>
                    <td> @Html.DisplayFor(model => model.Current.Extension)</td>
                </tr>
                <tr>
                    <td style="font-weight:900; width:100px;" align="right">Description</td>
                    <td> @Html.DisplayFor(model => model.Current.Description)</td>
                </tr>
                <tr>
                    <td style="font-weight:900; width:100px;" align="right">Comment</td>
                    <td> @Html.DisplayFor(model => model.Current.Comment)</td>
                </tr>
                <tr>
                    <td style="font-weight:900; width:100px;" align="right">Changelog</td>
                    <td><span style="white-space: pre-line">@Model.Current.Changelog</span> </td>
                </tr>
                <tr>
                    <td style="font-weight:900; width:100px;" align="right">Added</td>
                    <td> @Html.DisplayFor(model => model.Current.Added)</td>
                </tr>
                <tr>
                    <td style="font-weight:900; width:100px;" align="right">Edited</td>
                    <td> @Html.DisplayFor(model => model.Current.Edited)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@section scripts
{
    <script>

    </script>
}

         