@model Raf.FileMan.Models.ViewModels.MasterFileViewModel
@using Raf.FileMan.Models;
@using Raf.FileMan.Models.ViewModels;

<style>
    .row {
        padding-top: 15px;
    }

    .col-md-3, .col-md-9 {
        padding: 0px;
    }

    .icon {
        max-width: 16px;
        max-height: 16px;
    }
    textarea, #nameInput {
        max-width:900px;
        width:100%;
    }
</style>

<div class="col-md-12">
    <ol class="breadcrumbz">
        <li class="js-link disp-align-ver" onclick="goToFolder(@Model.RedirectId)"><i class="fas fa-angle-left"></i>&emsp13;<span> back to <b>@Model.RedirectLabel</b></span></li>
    </ol>
</div>
        <div class="col-md-12">
            @using (Html.BeginForm("Edit", "MasterFiles", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
            <div class="panel panel-success">
                <div class="panel-heading panel-title">
                    <div class="container" style="align-items:center; width:100%; padding:0px;">
                        <h4 class="cus-h4">
                            <span class="pre-num-head">@Model.Current.Number.Replace(Model.Current.Number.TrimStart('0'), "")</span><b>@Model.Current.Number.TrimStart('0')</b> - @Model.DraftVersion - @Model.Current.Name
                        </h4>
                        <div class="btn-group btn-group-sm pull-right" role="group" style="float:right;margin-top:0px;">
                            <button class="btn btn-sm btn-default" type="button" onclick="goToFile(@Model.Current.Id, @Model.RedirectId)">Cancel</button>
                            <button type="button" class="btn btn-sm btn-primary" onclick="editDocument('#docEditForm', @Model.RedirectId)">Save</button>
                        </div>
                    </div>
                    <span style="float:right;">

                    </span>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="font-weight:700; width:100px;" align="right">Name</td>
                            <td> <input type="text" class="form-control" name="Name" value="@Model.Current.Name" id="nameInput" /></td>
                        </tr>
                        <tr>
                            <td style="font-weight:700; width:100px;" align="right">Description</td>
                            <td><span style="white-space: pre-line"><textarea rows="5" cols="10" class="form-control" name="Description" placeholder="Description...">@Model.Current.Description</textarea></span> </td>
                        </tr>
                        <tr>
                            <td style="font-weight:700; width:100px;" align="right">Additional information</td>
                            <td><span style="white-space: pre-line"><textarea rows="3" cols="10" class="form-control" name="Comment" placeholder="Extra info...">@Model.Current.Comment</textarea></span> </td>
                        </tr>
                    </tbody>
                </table>
                <input type="hidden" name="Id" value="@Model.Current.Id" />
                <input type="hidden" name="Number" value="@Model.Current.Number" />
                <input type="hidden" name="pid" value="@Model.RedirectId" />
            </div>
            }

            <br />
            @if (Model.RevisionsCount > 0)
            {
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="cus-h4">
                            Latest revisions
                        </h4>
                    </div>
                    <table class="table table-striped table-hover table-condensed">
                        <thead>
                            <tr>
                                <th style="font-weight:900; width:15px;" align="right"></th>
                                <th style="font-weight:900; width:60px;" align="right">Type</th>
                                <th style="font-weight:900; width:250px;" align="right">Comment</th>
                                <th style="font-weight:900; width:130px;" align="right">Added</th>
                                <th style="font-weight:900; width:25px;" align="right"></th>
                                <th style="font-weight:900; width:15px;" align="right"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (@Model.LatestIssue != null)
                            {
                                <tr>
                                    <td scope="row"><img class="icon" src="~/Content/Images/Icons/32px/@Model.LatestIssue.Icon" /></td>
                                    <td><span class="label label-success">Issue</span> @Model.LatestIssue.Draft</td>
                                    <td>@Model.LatestIssue.Comment</td>
                                    <td>@Model.LatestIssue.Added</td>
                                    <td>@Html.ActionLink("download", "GetFile", "FileRevisions", new { id = Model.LatestIssue.Id }, null)</td>
                                    <td>@Html.ActionLink("view", "Details", "FileRevisions", new { id = Model.LatestIssue.Id }, null)</td>
                                </tr>
                            }
                            @if (@Model.LatestDraft != null)
                            {
                                <tr>
                                    <td scope="row"><img class="icon" src="~/Content/Images/Icons/32px/@Model.LatestDraft.Icon" /></td>
                                    <td><span class="label label-warning">Draft</span> @Model.LatestDraft.Draft</td>
                                    <td>@Model.LatestDraft.Comment</td>
                                    <td>@Model.LatestDraft.Added</td>
                                    <td>@Html.ActionLink("download", "GetFile", "FileRevisions", new { id = Model.LatestDraft.Id }, null)</td>
                                    <td>@Html.ActionLink("view", "Details", "FileRevisions", new { id = Model.LatestDraft.Id }, null)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="panel-group">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h4 class="cus-h4">
                                <a data-toggle="collapse" href="#collapse1">All revisions</a>
                            </h4>
                            <span class="badge badge-light">@Model.RevisionsCount</span>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            @if (Model.RevisionsCount > 0)
                            {
                                using (Html.BeginForm("FileAction", "FileRevisions", FormMethod.Post, new { style = "padding-left: 0px;" }))
                                {
                                    <table class="table table-striped table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                <th style="font-weight:900; width:15px;" align="right"></th>
                                                <th style="font-weight:900; width:35px;" align="right">Rev</th>
                                                <th style="font-weight:900; width:250px;" align="right">Comment</th>
                                                <th style="font-weight:900; width:130px;" align="right">Added</th>
                                                <th style="font-weight:900; width:25px;" align="right"></th>
                                                <th style="font-weight:900; width:15px;" align="right"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{ int counter = 0;}
                                            @foreach (var rev in Model.Current.Revisions.OrderByDescending(a => a.Revision))
                                            {
                                                <tr>
                                                    <td scope="row"><img class="icon" src="~/Content/Images/Icons/32px/@rev.Icon" /></td>
                                                    <td>
                                                        @if (string.IsNullOrEmpty(rev.Draft))
                                                        {
                                                            <span class="label label-success">issue</span>
                                                        }
                                                        else
                                                        {
                                                            @rev.Draft
                                                        }
                                                    </td>
                                                    <td>@rev.Comment</td>
                                                    <td>@rev.Added</td>
                                                    <td>@Html.ActionLink("download", "GetFile", "FileRevisions", new { id = rev.Id }, null)</td>
                                                    <td>@Html.ActionLink("view", "Details", "FileRevisions", new { id = rev.Id }, null)</td>
                                                </tr>
                                                counter++;
                                            }
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
            else
            {
                <p><i class="fas fa-exclamation-triangle"></i>There are no revisions for this document yet.</p>
            }
        </div>

    @section scripts
{
        <script>

        </script>
    }

