@model Raf.FileMan.Models.IndexViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Manage";
}

<div class="col-md-12">
    <ol class="breadcrumbz" style="margin-bottom:10px;">
        <li class="js-link disp-align-ver" onclick="@Model.ReturnFunction"><i class="fas fa-angle-left"></i>&emsp13;<span> back to <b>previous page</b></span></li>
    </ol>
</div>

<div class="col-md-12">
    <div class="settings">
        <div>
            <h4>Details</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    name:
                </dt>
                <dd>
                    @Model.FirstName
                </dd>
                <dt>
                    surname:
                </dt>
                <dd>
                    @Model.Surname
                </dd>
                <dt>
                    email:
                </dt>
                <dd>
                    <a href="mailto:@User.Identity.GetUserName()">@User.Identity.GetUserName() </a>
                </dd>
                <dt>
                    joined:
                </dt>
                <dd>
                    @Model.JoinDate
                </dd>
            </dl>
            <h4>Account</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
                    {
                        <a href="#" data-toggle="modal" data-target="#passwordModal">Change your password</a>
                    }
                    else
                    {
                        <a href="#" data-toggle="modal" data-target="#setPasswordModal">Set password</a>
                    }
                    ]
                </dd>
                @*<dt>External Logins:</dt>
                <dd>
                    @Model.Logins.Count [
                    @Html.ActionLink("Manage", "ManageLogins") ]
                </dd>*@

                @*<dt>Two-Factor Auth:</dt>
                <dd>
                    <p>
                        There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                        for details on setting up this ASP.NET application to support two-factor authentication.
                    </p>
                </dd>*@
            </dl>


            <h4>Settings</h4>
            <hr />
            @using (Html.BeginForm("SaveSettings", "Manage", FormMethod.Post, new { style = "padding-left: 0px;", id = "userSettingsForm" }))
            {
                @Html.AntiForgeryToken()
                <h5>Theme</h5>
                <dl class="dl-horizontal">
                    <dt>
                    </dt>
                    <dd>
                        @Html.DropDownList("Settings.Theme", new SelectList(new List<string>() { "light", "dark" }, Model.Settings.Theme), new { @id = "themeSelect" })
                    </dd>
                </dl>

                <h5>Layout</h5>
                <input type="hidden" name="Id" value=@Model.SettingsId />
                <dl class="dl-horizontal toggleDiv">
                    <dt>
                        @Html.CheckBoxFor(model => model.Settings.UncategorisedVisible)
                    </dt>
                    <dd>
                        Show <b>uncategorised</b> documents
                    </dd>
                    <dt>
                        @Html.CheckBoxFor(model => model.Settings.ShowUncategorisedRoot)
                    </dt>
                    <dd>
                        Show <b>uncategorised</b> documents in the root directory <b>only</b>
                    </dd>
                    <dt>
                        @Html.CheckBoxFor(model => model.Settings.ShowChangelog)
                    </dt>
                    <dd>
                        Show <b>changelog</b> on document details page
                    </dd>
                </dl>

                <h5>Navigation tree</h5>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.CheckBoxFor(model => model.Settings.TreeSearch)
                    </dt>
                    <dd>
                        Enable tree search
                    </dd>
                    <dt>
                        @Html.CheckBoxFor(model => model.Settings.TreeDnD)
                    </dt>
                    <dd>
                        Enable drag 'n' drop categories
                    </dd>
                    <dt>
                        @Html.CheckBoxFor(model => model.Settings.TreeSort)
                    </dt>
                    <dd>
                        Auto-sort tree
                    </dd>
                    <dt>
                        @Html.CheckBoxFor(model => model.Settings.TreeContext)
                    </dt>
                    <dd>
                        Use context menu
                    </dd>

                </dl>

                <h5>Miscellaneous</h5>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.CheckBoxFor(model => model.Settings.ForceDelete)
                    </dt>
                    <dd>
                        Enable force delete categories <br /><span class="danger">This will allow deleting non-empty categories! <br />All sub-categories will be recursively deleted. <br />All documents will be recursively uncategorised!</span>
                    </dd>
                </dl>

                <div class="container" style="align-items:center; width:100%; padding:0px;">
                    <button type="button" class="btn btn-success float-r" id="submitBtn" onclick="saveSettings('#userSettingsForm')">Save</button>
                </div>
            }
        </div>
    </div>
</div>

<!-- Forms Modal -->
<div id="passwordModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            @using (Html.BeginForm("ChangePassword", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", id = "passwordForm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header modal-header-warning">
                    <h4>Change password</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="float:none">
                        <input type="hidden" class="form-control" name="Id" value="@Model.Id" />
                        <dl class="row">
                            <dt class="col-sm-3">Old Password</dt>
                            <dd class="col-sm-9"><input type="password" class="form-control" name="OldPassword" value="" /></dd>

                            <dt class="col-sm-3">New Password</dt>
                            <dd class="col-sm-9"><input type="password" class="form-control" name="NewPassword" value="" /></dd>

                            <dt class="col-sm-3">Confirm</dt>
                            <dd class="col-sm-9"><input type="password" class="form-control" name="ConfirmPassword" value="" /></dd>
                        </dl>  
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" name="action" value="cp" class="btn btn-primary" onclick="changePassword('#passwordForm')">Save</button>
                </div>
            }
        </div>
    </div>
</div>

<div id="setPasswordModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            @using (Html.BeginForm("SetPassword", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", id = "setPasswordForm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header modal-header-warning">
                    <h4>Set password</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="float:none">
                        <input type="hidden" class="form-control" name="Id" value="@Model.Id" />
                        <dl class="row">
                            <dt class="col-sm-3">New Password</dt>
                            <dd class="col-sm-9"><input type="password" class="form-control" name="NewPassword" value="" /></dd>

                            <dt class="col-sm-3">Confirm</dt>
                            <dd class="col-sm-9"><input type="password" class="form-control" name="ConfirmPassword" value="" /></dd>
                        </dl>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" name="action" value="cp" class="btn btn-primary" onclick="setPassword('#setPasswordForm')">Save</button>
                </div>
            }
        </div>
    </div>
</div>