@model FileMan.Models.ViewModels.ItemViewModel
@using FileMan.Models;
<table class="table table-condensed table-hover table-folders">
    <thead class="thead-dark">
        <tr>
            <th style="width:15px;" scope="col"></th>
            <th style="width:200px;" scope="col"></th>
            <th style="width:380px; max-width:250px;" scope="col"></th>
            <th style="width:30px;" scope="col"></th>
        </tr>
    </thead>
    <tbody id="mainTable">
        @if (Model.Current.IsRoot)
        {
            <tr>
                <td scope="row">
                    <i class="fas fa-folder"></i>
                </td>
                <td colspan="5">...</td>
            </tr>
        }
        else
        {
            <tr>
                <td scope="row" style="cursor:pointer;" onclick="goToFolder(@Model.Current.Pid)">
                    <i class="fas fa-folder"></i>
                </td>
                <td colspan="5" style="cursor:pointer;" onclick="goToFolder(@Model.Current.Pid)">...</td>
            </tr>
        }
        @foreach (Folder itm in Model.ChildrenDirs)
        {
            <tr>
                <td scope="row" style="cursor:pointer;" onclick="goToFolder(@itm.Id)">
                    <i class="fas fa-folder"></i>
                </td>
                <td style="cursor:pointer;" onclick="goToFolder(@itm.Id)">@itm.Name</td>
                <td style="cursor:pointer; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; max-width:250px;" data-container="body" data-toggle="tooltip" data-placement="top" title="@itm.Description" onclick="goToFolder(@itm.Id)">@itm.Description</td>
                <td align="right">
                    <span style="cursor:pointer;" class="span4 proj-div" data-toggle="modal" data-target="#@itm.Name"><span><i class="fas fa-info-circle"></i></span></span>
                    <span class="cur-point" onclick="deleteCategory(@itm.Id)"><i class="fas fa-times-circle"></i></span>
                </td>
            </tr>
        }
    </tbody>
</table>
