@model Raf.FileMan.Models.ViewModels.ItemViewModel
@using Raf.FileMan.Models;
<table class="table table-condensed table-hover table-folders">
    <thead class="thead-dark">
        <tr>
            <th style="width:15px;" scope="col"></th>
            <th style="width:200px;" scope="col"></th>
            <th style="width:380px; max-width:250px;" scope="col"></th>
        </tr>
    </thead>
    <tbody id="mainTable">
        @if (Model.Current.IsRoot)
        {
            <tr>
                <td scope="row">
                    <i class="fas fa-folder"></i>
                </td>
                <td colspan="4">...</td>
            </tr>
        }
        else
        {
            <tr ondrop="drop(event)" ondragover="allowDrop(event)" class="draggable" id="cat_@Model.Current.Parent.Id">
                <td style="cursor:pointer;" scope="row" onclick="goToFolder(@Model.Current.Pid)">
                    <i class="fas fa-reply"></i>
                </td>
                <td colspan="4" style="cursor:pointer;" onclick="goToFolder(@Model.Current.Pid)">...</td>
            </tr>
        }
        @foreach (Folder itm in Model.ChildrenDirs)
        {
            <tr ondrop="drop(event)" ondragover="allowDrop(event)" class="draggable" draggable="true" ondragstart="drag(event)" id="cat_@itm.Id">
                <td style="cursor:pointer;" scope="row" onclick="goToFolder(@itm.Id)">
                    <i class="fas fa-folder"></i>
                </td>
                <td style="cursor:pointer;" onclick="goToFolder(@itm.Id)">@itm.Name</td>
                <td style="cursor:pointer; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; max-width:250px;" title="@itm.Description" onclick="goToFolder(@itm.Id)">@itm.Description</td>
            </tr>
        }
    </tbody>
</table>