@model FileMan.Models.LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="~/Content/Login.css" rel="stylesheet" />

<div class="container">
    <div class="main-body">
        <div class="login-panel">
            <div class="login-box">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="app-name">FileMan</div>
                    <div class="app-icons">
                        <div class="icons">
                            <i class="fas fa-folder"></i>
                            <i class="fas fa-copy"></i>
                            <i class="fas fa-cogs"></i>
                            <i class="fas fa-archive"></i>
                            <i class="fas fa-tasks"></i>
                            <i class="fas fa-file"></i>
                        </div>
                    </div>
                    <div class="sub-text">Log into existing account</div>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="input-line">
                        @Html.TextBoxFor(m => m.Email, new { @type = "text", placeholder = "Email...", @required = "", @class = "text-input" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        <span class="req-star">*</span>
                    </div>
                    <div class="input-line">
                        @Html.PasswordFor(m => m.Password, new { @type = "password", placeholder = "Password...", @required = "", @class = "text-input" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        <span class="req-star">*</span>
                    </div>
                    <div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                    <div class="buttons-bottom">
                        @Html.ActionLink("Register", "Register", null, new { @type = "button" })
                        <input type="submit" class="btn btn-login" value="Log in" />
                    </div>
                }
                <div class="login-footer">
                    &copy; @DateTime.Now.Year - Rafal Maricnek
                </div>
            </div>

        </div>
    </div>
</div>