@using FileMan.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
@Styles.Render("~/Content/css")
<style>
    input {
        max-width:100%;
    }
</style>
<link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
<link href="~/Content/LoginStyling.css" rel="stylesheet" />

<a class="btn btn-sm btn-outline-secondary btn-email" href="mailto:hinczas@gmail.com?Subject=FileMan%20-%20admin%20access%20request" target="_top">Request admin access</a>

<div class="container">
    <section id="content">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h1>FileMan</h1>
            <p>Log into existing account</p>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <br />
            <div>
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Email, new { @type = "text", placeholder = "Email...", @required = "" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div>
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.Password, new { @type = "password", placeholder = "Password...", @required = "" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div>
                <div class="col-md-12">
                    <div class="checkbox" style="margin-bottom:10px;">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Log in" class="btn btn-primary" />
            </div>
            <p>
                @Html.ActionLink("Register as a new user", "Register")
            </p>
            <br />
            @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
        }
    </section><!-- content -->
</div><!-- container -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}